*{
    font-family: 'Barlow', sans-serif;
    font
}
body{
    background-color: grey;
}
h1{
    font-size: 3em;
}
p{
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6, p{
    color: white;
}
hr{
    color: white;
}
#logo{
    padding-top: 35%;
}

#header{
    padding-left: 30px;
}